html{
    font-size:14px;
}


body {
    /* background-image: url('../images/burger.jpg');  */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;
    font-size: 1rem;
    font-family: Verdana, Tahoma, sans-serif;
}

.container {
    width: 90%;
    min-height: 100vh;
    /* border:10px red dotted; */
    overflow: visible;
}

.burger-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 250px;
    background-color: white;
    font-size: 2rem;
    opacity: 0.8;
    /* border:10px black dotted; */
}

.new_burger_form {
    background-color: black;
    padding: 0px;
}

.placeholder {
    height: auto;
    max-width: 100%;
  
}

.form_burger {
    width: 70%;
}

/* Width at 640px and below  */

@media only screen and (max-width: 640px) {
    #current_orders, #completed_orders {
        padding: 10px;
    }
   
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
   
    #current_orders, #completed_orders {
        padding: 10px;
      }
}